kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ clientname }}-elasticsearch-pv-volume
  labels:
    type: local
    app: elasticsearch
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  hostPath:
    path: "/{{ clientname }}-elasticsearch/data"

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ clientname }}-elasticsearch-pv-claim
  labels:
    app: elasticsearch
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
