kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ clientname }}-billing-postgres-pv-volume
  labels:
    type: local
    app: billing-postgres
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/{{ clientname }}-billing/data"

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ clientname }}-billing-postgres-pv-claim
  labels:
    app: billing-postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
